body{
    font-family: verdana;
    margin: 0;
}
.orange-color{
    color: orangered;
}
header{
    position: absolute;
    width: 100%;
    height: 10vh;
}
.nav-bar{
    position: absolute;
    left: 55%;
    top: 15px;
}
header h2{
    position: absolute;
    left: 5%;
    bottom: 0;
    font-weight: 800;
    color: rgb(117, 107, 107);
}
.nav-bar a{
    position: relative;
    text-decoration: none;
    margin-left: 20px;
    color: rgb(117, 107, 107);
    font-weight: 800;
}
.food-order{
    position: absolute;
    top: 15vh;
     
}
.half-width{
    width: 50%;
    padding-left: 10%; 
}
.flexible-container{
    display: flex;
}
.half-width img{
    width: 90%;
}
.half-width h1{
    font-size: 40px;
    line-height: 20px;
    color: rgb(117, 107, 107);
}
.text-height{
    padding-top: 10%;
}
p{
    color: rgb(117, 107, 107);
}
.half-width a{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border-radius: 50px;
    padding: 10px 20px;
    color: whitesmoke;
}
.link-button{
    padding-top: 8%;
}