body{
    font-family: verdana;
    margin: 0;
}
.orange-color{
    color: orangered;
}
header{
    position: absolute;
    width: 100%;
    height: 10vh;
}
.nav-bar{
    position: absolute;
    left: 55%;
    top: 15px;
}
header h2{
    position: absolute;
    left: 5%;
    bottom: 0;
    font-weight: 800;
    color: rgb(117, 107, 107);
}
.nav-bar a{
    position: relative;
    text-decoration: none;
    margin-left: 20px;
    color: rgb(117, 107, 107);
    font-weight: 800;
}
.food-order{
    position: absolute;
    top: 15vh;
     
}
.half-width{
    width: 50%;
    padding-left: 10%; 
}
.flexible-container{
    display: flex;
}
.half-width img{
    width: 90%;
}
.half-width h1{
    font-size: 40px;
    line-height: 20px;
    color: rgb(117, 107, 107);
}
.text-height{
    padding-top: 10%;
}
p{
    color: rgb(117, 107, 107);
    padding: 10px;
}
.half-width a{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border-radius: 50px;
    padding: 10px 20px;
    color: whitesmoke;
}
.link-button{
    padding-top: 5%;
}
.about-me{
    position: absolute;
    top: 100%;
    background-image: url(images/shapes/aboutme-background.png);
    padding-right: 10%;
}
h2{
    color: rgb(117, 107, 107);
}
.my-recipies{
    position: absolute;
    top: 200%;
}
.text-allaignment{
    text-align: center;
}
.one-third-width{
    width: 22%;
    margin-left: 5%;
    margin-top: 5%;
}
.container-allaignment{
    box-shadow: 5px 5px 30px 5px rgb(197, 192, 192);
    border-radius: 20px;
}
.one-third-width img{
    width: 90%;
    position: relative;
    left: 12px;
    top: 15px;
    padding-bottom: 5%;
}
#box-allaignment{
    margin-left: 12%;
    margin-bottom: 5%;
}
